   {% extends "base.html" %}
   {% load crispy_forms_tags %}
   {% block head_title %} Bienvenidos|{% endblock %}
     
     {% block jumbotron %}
     	<div class="jumbotron">
      
 	
 	<div class="row">
 		<div class="col-sm-6">
   		<h1>Inicio de Prueba con django 1.10!! </h1>
        <p>Proyecto para chavos que estan chavos en eso de las pag web ( aplicaciones web) con python y django.</p>
        <p>Asi que ni pedo muchacho a chingarle :D .</p>
        <p>
          <a class="btn btn-lg btn-primary" href="../../components/#navbar" role="button">Únete para conocer más..!! &raquo;</a>
        </p>
    </div>
    <div class="col-sm-6" style="background-color:black;height:300px;"></div>
    	</div>
    		  </div>
 
       {% endblock %}

	<title>Prueba pd110</title>
	<!--<h1> Hola putos</h1>-->
	{{titulo}}<br/>
	{{request.user}}
<hr/>
<br/>


	{% block content %}
	<div class="row">
    	<div class="col-sm-3 col-xs-12 pull-right">
    	<p class="lead text-align-center">{{ titulo}}</p>
	<form method="POST" action="">{% csrf_token%}
	
	{{ el_form|crispy }}
	
	<input type="submit" value="Registrame"/>
	</form>
	</div>
	<div class="col-sm-3">
		<p class="lead text-align-center">Creado con Django &amp; Bootstrap</p>
	</div>
	<div class="col-sm-3">
		<p class="lead text-align-center">Con tomo mi pinche cariño </p>
	</div>
	<div class="col-sm-3">
		<p class="lead text-align-center">Con código ábierto, pa que lo chequen</p>
	</div>
		</div>


	<hr/>	
	{% endblock %}

